section {
    padding: 80px 0px;
}

#container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1500px;
    gap: 120px 80px;
    padding: 0px 30px;
}

.card{
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.63);
    background-color: #6e281e;
}

.container-image-card {
    width: 517px;
    height: 425px;
    background-color: #6e281e;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container-image-card > img {
    width: 100%;
    height: 100%;
    position: absolute;
}


.container-image-card span{
    position: absolute;
}

.text-card {
    font-family: 'Italianno', cursive;
    font-size: 70px;
    color: #fff;
    text-align: center;
    background-color: #6e281e;
    max-height: 88px ;
}

.loader  {
    animation: rotate 1s infinite;  
    height: 50px;
    width: 50px;
  }
  
  .loader:before,
  .loader:after {   
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;  
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;  
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite; 
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
  }
  
  @keyframes rotate {
    0% { 
      -webkit-transform: rotate(0deg) scale(0.8); 
      -moz-transform: rotate(0deg) scale(0.8);
    }
    50% { 
      -webkit-transform: rotate(360deg) scale(1.2); 
      -moz-transform: rotate(360deg) scale(1.2);
    }
    100% { 
      -webkit-transform: rotate(720deg) scale(0.8); 
      -moz-transform: rotate(720deg) scale(0.8);
    }
  }
  
  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #f8b334;
    }
    50% {
      box-shadow: 0 0 0 #f8b334;
      margin-bottom: 0;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #f8b334;
      margin-bottom: 10px;
    }
  }
  
  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #97bf0d;
    }
    50% {
      box-shadow: 0 0 0 #97bf0d;
      margin-top: -20px;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #97bf0d;
      margin-top: 0;
    }
  }


@media (max-width: 768px){

    #ribbon-menu{
        height: 80px;
    }

    h1#text-menu{
        font-size:  100px;
    }

    .text-card{
        font-size: 50px;
    }
}

@media (max-width: 575px){

    .container-image-card{
        width: 423px;
        height: 347.719px;
    }
} 
 
 @media (max-width: 425px){
    .container-image-card{
        width: 365px;
        height: 300.047px;
    }
}


 @media (max-width: 375px){
    .container-image-card{
        width: 315px;
        height: 258.938px;
    }
}